.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  padding-bottom: 50px;
}
.detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  background-color: black;
  margin: 0 30px;
  border: white 4px solid;
  padding:2%;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  color: white; 
  align-items: center;
  text-align: left;
  width: 450px;
}
.rightColumn {
  display: flex;
  flex-direction: column; 
  width:350px;  
}
.rightColumn img {
  max-width: 100%;
  height: auto;
}
.detail img {
 transform: scale(0.95);
}

.negrita{
  font-weight: 700;
}

.circularImage {
    width: 250px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 250px; /* Mismo tamaño que el ancho para hacer un círculo perfecto */
    border-radius: 50%; /* Aplica un borde circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen fuera del círculo */
    transition: all 0.3s ease; /* Agrega una transición suave para el cambio de forma */
  }
  
  .squareImage {
    border-radius: 15px; /* Aplica esquinas redondeadas para hacer un cuadrado */
  }

  .circularImage:hover {
    border-radius: 15px; /* Cambia a esquinas redondeadas en hover */
    transform: scale(1.1); /* Aplica un efecto de escala en hover */
    transition: all 0.3s ease; /* Agrega una transición suave en hover */
  }

  span{
    margin-right:10px;
  }

 
  .title {
    font-size: 50px; 
    margin: 10px 0; 
    color: white;
  }