
.container{
    /*border: 2px solid white;*/
    border: none;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: fit-content;
    flex-wrap: wrap;
    padding: 2em 0;
    /*background-color: yellowgreen;
    background-color: rgb(68, 84, 45);*/

}